body {
	font-family: 'Open Sans', sans-serif;
	color: #201b2d;
	font-size: 15px;
	padding: 0;
	margin: 0;
}

div, p, input, button, form, span, a, ul, li {
	box-sizing: border-box;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

.header{
    height: 827px;
    background-color: #e43b7c;
    background-image: linear-gradient(-31deg, #378fd9 0%, #4ebefe 100%);
    padding-top: 100px;
	padding-bottom: 225px;
    color: #fff;
}

.wrapper {
	display: flex;
	justify-content: space-between;
}

.offer {
	margin-top: 176px;
	width: 490px;
}

.title {
	font-size: 36px;
}

.dream{
    font-size: large;
}

.title span{
    font-size: 50px;
}

.intro {
	margin-bottom: 37px;
	margin-top: 30px;
	width: 380px;
}

.btn {
	font-family: 'Montserrat', sans-serif;
	background: #ffd429;
	color: #fff;
	display: block;
	width: 205px;
	padding: 19px 0;
	text-align: center;
	text-decoration: none;
	transition: all 0.5s ease;
}

.btn:hover {
	background: #e2a34b;
}

.learn{
    text-align: center;
    padding: 50px 0 50px 0;

}

.skills{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.free-time{
    width: 300px;
    padding: 50px 100px 0 0;
}

.travel{
    width: 300px;
    padding: 50px 0 0 0;
}

.cash{
    width: 300px;
    padding: 50px 0 0 100px;
}

.forms{

    height: 603px;
    background-color: #ecf3f8;
    background-color: #efecf4;
    text-align: center;
    padding: 50px 0 30px 0;
}

.folder-form{
    display: inline-grid;
    padding-top: 50px;
}

.name{
    border: 1px solid #bfb8d1;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
    height: 54px;
    width: 474px;
    text-align: center;
}

.email{
    border: 1px solid #bfb8d1;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
    height: 54px;
    width: 474px;
    text-align: center;
    margin: 30px 0;
}

.phone{
    border: 1px solid #bfb8d1;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
    height: 54px;
    width: 474px;
    text-align: center;
    margin: 0 0 20px;
}

.plan{
    border: 1px solid #bfb8d1;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
    height: 54px;
    width: 474px;
    text-align: center;
    margin: 0 0 20px;
}

.btn-form {
	border: 0;
	cursor: pointer;
    display: inline;
    width: 474px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
	background-color: #ffd429;
    padding: 19px 0;
    font-size: 20px;
	text-align: center;
	text-decoration: none;
	transition: all 0.5s ease;

}

.footer{
    height: 142px;
    background-color: #164d7a;
}

.footer p{
    text-align: center;
    color: #fff;
    padding-top: 70px;
}